
<div class="header-container">
    <h2>Exercises</h2>
    <a *ngIf="isLoggedIn" class="btn btn-primary" routerLink="/exercise/add">Add exercise</a>
</div>


<table *ngIf="exercises" class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Sets</th>
        <th scope="col">Repetitions</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of exercises; index as i"> 
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ e.name }}</td>
        <td>{{ e.sets }}</td>
        <td>{{ e.repetitions }}</td>
        <td><a class="btn btn-primary pull-right" routerLink="/exercise-details/{{e._id}}">Details</a></td>
      </tr>
    </tbody>
  </table>