<h1>Welcome to WorkIt</h1>
<h2>Get your work on, and workout with inspiration of tons of workouts created by other users</h2>

<div class="header-container">
    <h2 class="bold">Workouts</h2>
    <a *ngIf="isLoggedIn" class="btn btn-primary" routerLink="/workout/add">Add workout</a>
</div>
<input id="search" class="form-control" type="text" placeholder="Search" aria-label="Search">

<mat-accordion>
    <div *ngFor="let workout of workouts; let i = index">
            <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false" class="workout">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ workout.name }}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{workout.exercises.length}} exercises
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngFor="let exercise of workout.exercises; let j = index">
                    <p>{{j}}: {{ exercise?.name }}</p>
                </div>
            </mat-expansion-panel>        
    </div>
</mat-accordion>