<h1>Welcome to WorkIt</h1>
<h2>Get your work on, and workout with inspiration of tons of workouts created by other users</h2>

<div class="header-container">
    <h2 class="bold">Workouts</h2>
    <a *ngIf="isLoggedIn" class="btn btn-primary" routerLink="/workout/add">Add workout</a>
</div>
<input id="search" class="form-control" type="text" placeholder="Search" aria-label="Search">
<div *ngFor="let workout of workouts; let i = index">
    <button class="collapsible"><p class="workout-name font-weight-bold d-inline-block">Name: <br> </p>{{ workout.name }}</button>
    <div class="content">
        <div *ngFor="let exercise of workout.exercises; let j = index">
            <p>Exercise: {{ exercise?.name }}</p>
        </div>
    </div>
</div>