<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab2a - ejs</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="/javascripts/event-listeners.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="/javascripts/event-listeners.js" defer></script>
    <script src="https://kit.fontawesome.com/f87f691bb0.js" crossorigin="anonymous"></script>
    <script src="/javascripts/student-add-script.js"></script>
    <script src="/javascripts/add-script.js"></script>
</head>

<body>
<header class="nav-bar">
    <!-- Image and text -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Arnoldifier</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href='/exercise/list'>Exercises</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/workout/list'>Workouts</a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <% if (loggedin) { %>
                    <a class="btn btn-primary my-2 my-sm-0 ml-2" href="/user/logout">Log out</a>
                <% } else { %>
                    <a class="btn btn-primary my-2 my-sm-0 ml-2" href="/user/login">Log in</a>
                    <a class="btn btn-outline-dark my-2 my-sm-0" href="/user/Signup">Sign up</a>
                <% } %>

            </div>
        </div>
    </nav>
</header>
<div>
    <main class="article" role="main">
        <div class="container pt-4" id="content-container">
            <%- body %>
        </div>
    </main>
</div>
<footer class="page-footer footer-copyright footer-sticky text-center py-3 font-small blue pt-4">
    <a>© 2020 Copyright: Made by ITTWEB Group 3</a>
</footer>

</body>

</html>
