<head>
    <script src="/javascripts/clickable-rows-workout.js"></script>  
</head>

<div class="panel panel-default">
  <div class="panel-heading">
      <div class="centerize-content">
          Workout programs 
      </div>
      <a class="btn btn-primary" href="/workout/add">Create new</a>
  </div>
  <div class="panel-body">
      <table class="table">
          <thead>
              <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Exercises</th>
              </tr>
          </thead>
          <tbody href="#">
            <% for (let i = 0; i < workouts.length; i++) { %>
                <tr class="clickable-row" href="#" title="Go to details" data-href="<%= workouts[i].id %>">
                    <td><%= workouts[i].name %></td>
                    <td><%= workouts[i].exercises %></td>
                </tr>
            <% }  %>     
          </tbody>
      </table>
  </div>
</div>  

