<head>
    <script src="/javascripts/exercise-picker.js"></script>    
</head>


<div id="added-exercise-alert" class="alert alert-success alert-absolute fade" role="alert">
    Succesfully added exercise to workout!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div id="removed-exercise-alert" class="alert alert-success alert-absolute fade" role="alert">
    Succesfully removed exercise from workout!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<div class="even-spacing">
    <h4>Add workout program</h4>
    <a class="btn btn-outline-dark" href="/workout/list">Go back</a>
</div>

<div class="panel panel-default panel-body mt-3">
    <form method="post" action="/workout/add">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" placeholder="Enter name">
        </div>
        <label>Pick exercises</label>

        <div class="exercises-picker-box mb-4">
            <div id="exercises-picker-left">
                <% for (let i = 0; i < notaddedexercises.length; i++) { %>
                    <div data-exercise-id="<%= notaddedexercises[i].id %>"
                         class="exercises-picker-item not-added centerize-content"><%= notaddedexercises[i].name %></div>
                <% } %>
            </div>
            <div class="exercises-picker-controls">
                <a id="remove-exercise-btn" data-isdetails="false" title="Remove exercise from workout"
                   class="btn mb-3 btn-outline-dark"><i class="fas fa-chevron-left"></i></a>
                <a id="add-exercise-btn" data-isdetails="false" title="Add exercise to workout"
                   class="btn btn-outline-dark"><i class="fas fa-chevron-right"></i></a>
            </div>
            <div id="exercises-picker-right">
            </div>
        </div>
        <a type="button" id="create-btn" class="btn btn-primary">Create</a>
      </form>
</div>

